{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": [
		"/out"
	],
	"plugins": [
		"@typescript-eslint",
		"roblox-ts",
		"import"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:roblox-ts/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"prettier",
		"plugin:array-func/recommend"
	],
	"rules": {
		"array-bracket-spacing": [
			"error",
			"always",
			{
				"arraysInArrays": true
			}
		],
		"object-curly-spacing": [
			"error",
			"always",
			{
				"objectsInObjects": true
			}
		]
	}
}